---
import MainLayout from "../../layouts/main-layout.astro";
import Card from "../../components/game-card.astro";
import Pagination from "../../components/pagination.astro";
import FilterCard from "../../components/category-filter.astro";
const allGames = await Astro.glob("./*.md");

export async function getStaticPaths({ paginate }) {
    const allGames = await Astro.glob("./*.md");

    return paginate(allGames, { pageSize : 10});
}

const { page } = Astro.props;
const pathname = new URL(Astro.request.url).pathname.split('/');
const firstPath = pathname[1];

---
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/alpha_style.css">
    <title>Board Games</title>
    <script src="../../scripts/filter.ts"></script> 
</head>

<MainLayout>
    <body>
        <section id="all-games-section" class="container">
            <h2>All Board Games</h2>
            <p>These are all the board games in Alpha Wolf's collection. </p>
            <!-- Section for sort / filter functions -->
            <div class="sort-filter-container">
                <FilterCard/>  
            </div>
            <!-- Game list starts here -->
            <div class="grid-list">
                <!-- Render paginated game items -->
                {page.data.map((game) => (
                    <Card
                        title={game.frontmatter.title}
                        body={game.frontmatter.description}
                        href={game.url}
                        img={game.frontmatter.image}
                        category={game.frontmatter.category}
                        min_players={game.frontmatter.min_players}
                        max_players={game.frontmatter.max_players}
                        playing_time={game.frontmatter.playing_time}
                        box_size={game.frontmatter.box_size}
                    />
                ))}
            </div>
        </section>
        <!-- Pagination Section -->
        <section class="pagination-section">
            <!-- Dropdown for number of games per page -->
            <div class="show-results">
                <label for="show">Show:</label>
                <select id="show" name="show">
                    <option value="10">10</option>
                </select>
            </div>
            <div>
                {page.url.first ? <a href={page.url.first}> First Page</a>: null}
            </div>
            {allGames.length > 10 ? (
                <div class="page-number">
                  <Pagination 
                    length={page.lastPage} 
                    currentUrl={page.url.current} 
                    currentPage={page.currentPage} 
                    firstUrl={`/${firstPath}`} 
                    prevUrl={page.url.prev} 
                    nextUrl={page.url.next} 
                    lastUrl={`/${firstPath}/${page.lastPage}`}
                  />
                </div>
              ) : null}
              <div>
                {page.url.last ? <a href={page.url.last}>Last Page</a> : null}
              </div>
        </section>
    </body>
    
</MainLayout>
