---
import MainLayout from "../layouts/main-layout.astro";
import Card from "../components/game-card.astro";
import CategoryCard from "../components/category-card.astro";

const allGames = await Astro.glob("./game-details/*");
---
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/alpha_style.css">
    <title>Board Games</title>
</head>

<MainLayout>
    <!-- To check what object the fronmatter contains print out the json file below-->
    <!-- {
        allGames.map( game => (
            <div>
                {JSON.stringify(game)}
            </div>   
        ))
    } -->
    <body>
        <section id="categories-section" class="container">
            <div class="categories">
                <h2>Categories</h2>
                <p>There are many board game categories to choose from:</p>
                <div class="grid-container">
                    <CategoryCard
                        title = "Strategy Games"
                        img = "/strat-icon.png"
                        description = {18}
                    />
                    <CategoryCard
                        title = "Bluffing Games"
                        img = "/strat-icon.png"
                        description = {10}
                    />
                    <CategoryCard
                        title = "Cooperative Games"
                        img = "/strat-icon.png"
                        description = {4}
                    />
                    <CategoryCard
                        title = "Party Games"
                        img = "/strat-icon.png"
                        description = {6}
                    />
                    <CategoryCard
                        title = "Creative Games"
                        img = "/strat-icon.png"
                        description = {6}
                    />
                    <CategoryCard
                        title = "Beginner-Friendly Games"
                        img = "/strat-icon.png"
                        description = {11}
                    />
                     <!-- Repeat the category div for other categories -->
                </div>
                <div class="see-more">
                    <!-- Link to categories page -->
                    <a href="#">See more</a>
                </div>
              </div>
        </section>

        <section id="all-games-section" class="container">
            <h2>All Board Games</h2>
            <p>These are all the board games in Alpha Wolf's collection and their designated location. </p>
            <!-- Section for sort / filter functions -->
            <div class="sort-filter-container">
                <div class="sort">
                    <label for="sort-select">Sort by:</label>
                    <select id="sort-select">
                        <option value="a-z">A-Z</option>
                        <option value="z-a">Z-A</option>
                    </select>
                </div>
                <div class="filter">
                    <label for="category-select">Filter by Categories:</label>
                    <select id="category-select">
                        <option value="all">All Categories</option>
                        <option value="strategy">Strategy Games</option>
                        <option value="family">Family Games</option>
                        <option value="party">Party Games</option>
                        <!-- Add more categories as needed -->
                    </select>
                </div>
                <div class="filter">
                    <label for="category-select">Filter by Location:</label>
                    <select id="category-select">
                        <option value="MBL">Makerbox Laos</option>
                        <option value="Stella">Stella</option>
                        <option value="L6">Lak6</option>
                        <option value="NN">Nongnieng</option>
                        <!-- Add more categories as needed -->
                    </select>
                </div>
            </div>
            <!-- Game list starts here -->
            <div class="grid-list">
                <!-- Game Item -->
            {
                allGames.map( game => (
                        <Card
                            title = {game.frontmatter.title}
                            body = {game.frontmatter.description}
                            href = {game.url}
                            img = {game.frontmatter.image}
                            category = {game.frontmatter.category}
                            location = {game.frontmatter.location}

                        /> 
                ))
            }
                <!-- <Card
                    title = "Cash Flow"
                    body = "A game where you assume the role of electricity provider and generate it to cities!"
                    href = "/game-details/power-grid"
                    img = "/cashflow.jpeg"
                    location = "Banmuang Village Xaysettha District, Vientiane"
                    category = "Financial"
                />
                <Card
                    title = "Poetry for Neanderthals"
                    body = "A game where you assume the role of electricity provider and generate it to cities!"
                    href = "/game-details/forbidden-island"
                    img = "/forbiddenisland.jpeg"
                    location = "Banmuang Village Xaysettha District, Vientiane"
                    category = "Party"
                /> -->
                <!-- Repeat this card component for each game -->
            </div>
            <!-- Pagination Section -->
            <div class="pagination-section">
                <div class="show-results">
                    <label for="show">Show:</label>
                    <select id="show" name="show">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                    </select>
                </div>
                <div class="pagination">
                    <button class="pagination-btn-next">{"<"}</button>
                    <button class="pagination-btn">1</button>
                    <button class="pagination-btn">2</button>
                    <button class="pagination-btn">3</button>
                    <button class="pagination-btn">...</button>
                    <button class="pagination-btn">10</button>
                    <button class="pagination-btn-next">{">"}</button>
                </div>
            </div>
        </section>
    </body>
    
</MainLayout>
