---
interface Props {
	title: string;
	body: string;
	href: string;
    img: string; 
    category: string;
    location: string;
    min_players: number;
    max_players: number;
    playing_time: number;
    box_size: string;
    // using description placeholder for Location, do i need one for category?
}

const { href, title, body, img, category, playing_time, min_players, max_players, box_size} = Astro.props;
---

<div class="game-item">
    <div class="game-image-container">
        <img src={img} alt={title} class="game-image">
    </div>
    <div class="game-details">
        <h3 class="game-title">{title}</h3>
        <p class="game-description">
            {body}
        </p>
        <p class="game-category">Category: {category}</p>
        <div class="game-info-container">
            <p class="game-location">Playing Time: {playing_time} Minutes</p>
            <p class="game-location">Minimum Players: {min_players}</p>
            <p class="game-location">Maximum Players: {max_players}</p>
            <p class="game-location">Size: {box_size}</p>
        </div>
    </div>
    <div class="game-meta">
        <a href={href} class="game-read-more">Read more</a>
    </div>
</div>