---
interface Props {
	title: string;
	body: string;
	href: string;
    img: string; 
    category: string;
    location: string;
    // using description placeholder for Location, do i need one for category?
}

const { href, title, body, img, category, location } = Astro.props;
---

<div class="game-item">
    <div class="game-image-container">
        <img src={img} alt={title} class="game-image">
    </div>
    <div class="game-details">
        <h3 class="game-title">{title}</h3>
        <p class="game-description">
            {body}
        </p>
        <p class="game-category">Category: {category}</p>
        <p class="game-location">Location: {location}</p>
    </div>
    <div class="game-meta">
        <!-- To provide individual links to each game, this is just a demo link to the blueprint -->
        <a href={href} class="game-read-more">Read more</a>
    </div>
</div>